<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Proyecto.Protocolos.Chat.UI.WinFormServidor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Proyecto.Protocolos.Chat.UI.WinFormServidor.Properties.Settings>
            <setting name="d" serializeAs="String">
                <value>2005</value>
            </setting>
            <setting name="InvalidUser" serializeAs="String">
                <value>Usuario {0}  no válido</value>
            </setting>
            <setting name="UsuarioEnLinea" serializeAs="String">
                <value>El usuario {0} está en línea</value>
            </setting>
            <setting name="NAdminstrador" serializeAs="String">
                <value>ADMINISTRADOR</value>
            </setting>
            <setting name="EnviarTodos" serializeAs="String">
                <value>all</value>
            </setting>
            <setting name="Cagregar" serializeAs="String">
                <value>agregar</value>
            </setting>
            <setting name="IMesajeValidacion" serializeAs="String">
                <value>validacion</value>
            </setting>
            <setting name="Cquitar" serializeAs="String">
                <value>quitar</value>
            </setting>
            <setting name="ListaUsuarios" serializeAs="String">
                <value>lista</value>
            </setting>
            <setting name="Cestado" serializeAs="String">
                <value>estado</value>
            </setting>
            <setting name="DesconectarServidor" serializeAs="String">
                <value>Esta seguro que desea desconectar la {0}</value>
            </setting>
            <setting name="TInformacion" serializeAs="String">
                <value>Información</value>
            </setting>
            <setting name="ConectarServidor" serializeAs="String">
                <value>Esta seguro que desea conectar la {0}</value>
            </setting>
        </Proyecto.Protocolos.Chat.UI.WinFormServidor.Properties.Settings>
    </applicationSettings>
</configuration>