<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Proyecto.Protocolos.Chat.UI.WinFormCliente.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IpServidor" value="192.168.1.3" />
    <add key="IpCliente" value="192.168.1.3" />
    <add key="PuertoIngreso" value="2001" />
    <add key="EnviarTodos" value="all" />
    <add key="IMensajeConectar" value="conectar" />
    <add key="IMesajeValidacion" value="validacion" />
    <add key="MensajeNoenviado" value="mensaje no enviado" />
    <add key="SinServidor" value="El servidor está desconectado" />
    <add key="InvalidUser" value="Usuario {0}  no válido" />
    <add key="ParametroInvalido" value="Ingrese parametros validos" />
    <add key="UsuarioActivo" value="El usuario {0} está en línea" />
    <add key="Cagregar" value="agregar" />
    <add key="Cestado" value="estado" />
    <add key="PuertoConectar" value="2005" />
    <add key="SalaNoConectada" value="La sala no esta conectada" />
    <add key="NoExistenSalas" value="No existe ninguna sala conectada" />
    <add key="ListaUsuarios" value="lista" />
    <add key="MetodoEnvio" value="mensaje" />
    <add key="TextoPrivado" value="MENSAJE PRIVADO" />
    <add key="NoSelUsuario" value="No se ha seleccionado un usuario" />
    <add key="TCambioSala" value="Usuario {0} Bienvenido al GRUPO {1} TE ENCUENTRAS EN LA {2}" />
    <add key="TInfo" value="Información" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>